// Calender
// Get all dates from workouts and count unique dates
- @dates = Workout.where(user_id: @user.id).pluck(:started_at).uniq
.row.mb-1.text-center.align-middle.pt-3
    .col-2
        - if @month != 1
            %a.btn.btn-sm.btn-outline-primary{href: "?id=#{@user.id}&month=#{@month - 1}&year=#{@year}"}
                %strong ◀
        - elsif @month == 1
            %a.btn.btn-sm.btn-outline-primary{href: "?id=#{@user.id}&month=#{12}&year=#{@year - 1}"}
                %strong ◀
    .col-8
        %h5.text-center
            %strong.float-center.align-middle
                = "#{@month_name} #{@year}"
    .col-2
        - if @month != 12
            %a.btn.btn-sm.btn-outline-primary{href: "?id=#{@user.id}&month=#{@month + 1}&year=#{@year}"}
                %strong ▶
        - elsif @month == 12
            %a.btn.btn-sm.btn-outline-primary{href: "?id=#{@user.id}&month=#{1}&year=#{@year + 1}"} 
                %strong ▶


%table.table.table-sm.table-borderless.table-hover
    %thead.bg-dark.text-light.p-0.m-0
        %tr.m-0.p-0
            %th.m-0.p-0.ml-0
                M
            %th.m-0.p-0
                T
            %th.m-0.p-0
                W
            %th.m-0.p-0
                T
            %th.m-0.p-0
                F
            %th.m-0.p-0
                S
            %th.m-0.p-0
                S
    // Get the first day of @month this year
    - @firstDay = Date.new(@year, @month, 1).strftime("%u").to_i
    // Get number of days in current month
    - @daysInMonth = Date.new(@year, @month, -1).day
    - rowCount = 0
    %tbody
        %tr
        - (1..@firstDay - 1).each do
            %td.bg-light
            - rowCount += 1
        - (1..@daysInMonth).each do |dayCount|
            - rowCount += 1
            - dateFound = false
            - workoutId = nil
            - workoutGroup = nil
            - textColor = nil
            - if rowCount % 7 == 1
                %tr
            - @dates.each do |date|
                - if dayCount == date.day && date.strftime("%B") == Date.new(@year, @month, -1).strftime("%B") && date.year == @year
                    - dateFound = true
                    - workout = Workout.where(user_id: @user.id, started_at: date.all_day).first
                    - workoutId = workout&.id
                    - workoutGroup = workout&.group_colour
                    - textColor = workoutGroup == 'warning' || workoutGroup == 'info' ? 'text-dark' : 'text-white'
            - if dateFound
                %td{class: "bg-#{workoutGroup} border font-decoration-none"}
                    %a{class: textColor, href: "/workout/view?id=#{workoutId}"}
                        = dayCount
            - elsif dayCount == Date.today.day && Date.today.strftime("%B") == Date.new(@year, @month, -1).strftime("%B") && Date.today.year == @year
                %td.bg-warning.border.border-warning
                    %span.text-dark
                        = dayCount
            - elsif @year < Date.today.year || (@year == Date.today.year && (@month < Date.today.month || (@month == Date.today.month && dayCount < Date.today.day)))
                %td.bg-secondary.border
                    %span.text-white
                        = dayCount
            - else
                %td.border.bg-light
                    %span.text-dark
                        = dayCount