.container.bg-white.border.border-rounded.py-3
    - prevDate = nil
    - if @feed.length == 0
        .text-muted.text-center
            No workouts found yet, try following some friends or start a workout yourself!
    - @feed.each do |day|
        %h4
            %strong
                %a.badge.badge-secondary.badge-pill{href: "/users/view?id=#{day[1].id}"}
                    = day[1].name
                
                - if day[3][0] == "Chest"
                    %a.badge.badge-primary.text-white
                        = day[3][1]
                - elsif day[3][0] == "Back"
                    %a.badge.badge-danger.text-white
                        = day[3][1]
                - elsif day[3][0] == "Legs"
                    %a.badge.badge-success.text-white
                        = day[3][1]
                - elsif day[3][0] == "Shoulders"
                    %a.badge.badge-warning.text-white
                        = day[3]
                - else
                    %a.badge.badge-info.text-white
                        = day[3]

        %h6.text-muted
            = day[0].strftime("%B %d, %Y") + " @ "
            // 24 hour time
            = day[0].strftime("%H:%M")
        .row
            %table
                - day[2].each do |ex|
                    %ti.col-6.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-1
                        - if ex[0] != "n/a"
                            %strong
                                
                                - if current_user.id == ex[0].user_id
                                    %a.text-dark{href: "/workout/#{ex[0].id}"}
                                        = ex[0].name
                                - else
                                    = ex[0].name
                            - ex[1].each do |set|
                                - if set.weight == nil && set.repetitions == nil
                                    - msg = '? x ?'
                                - elsif set.weight == nil
                                    - msg = '? x ' + set.repetitions.to_s
                                - elsif set.repetitions == nil
                                    - msg = set.weight.to_s + ' ' + set.exercise.unit.to_s + ' x ' + '?'
                                - elsif set.weight == 0
                                    - msg = 'BW x ' + set.repetitions.to_s
                                - else
                                    - msg = set.weight.to_s + ' ' + set.exercise.unit.to_s + ' x ' + set.repetitions.to_s
                                    
                                %br

                                - if set.isFailure
                                    %span.text-danger.border-bottom.border-danger
                                        = msg
                                - elsif set.isDropset
                                    %span.text-info.border-bottom.border-info
                                        = msg
                                - else
                                    %span.text-muted
                                        = msg
                                
                                            

                                    

                    
        %hr
            
