
- prevDate = nil
- if @feed.length == 0
    .text-muted.text-center
        No workouts found yet, try following some friends or start a workout yourself!
- else
    - @feed.each do |day|
        - @workout = day
        - @sets = @workout.feed
        - @owner = @workout.user

        - if @sets.length < 1
            - next
        
        .container.bg-white.border.rounded.my-3.pt-3{id: "workout-#{@workout.started_at.strftime("%B%d%y")+@owner.id.to_s}"}
            .row
                .col-12.d-flex
                    .font-weight-bold
                        %a.text-dark{href: "/users/view?id=#{@owner.id}"}
                            = @owner.name
                        - if @owner.streakcount >= 2
                            .badge.badge-pill.badge-dark.px-1.font-weight
                                🔥 #{@owner.streakcount} days

                        - if @sets.last.second.last.created_at >= 3.hours.ago
                            %span.badge.badge-pill.badge-warning.text-white
                                %i.fa-solid.fa-eye
                                New

                        
                    %a.ml-auto.btn.btn-primary.btn.p-0.px-2{href: "/workout/view?id=#{@workout.id}", type: "button"}
                        %i.fa-solid.fa-eye.text-white
                        View
            
                
            .row
                .col-12
                    %h6.text-muted.pb-3
                        = @workout.started_at.strftime("%B %d, %Y") + " @ "
                        // 24 hour time
                        = @workout.started_at.strftime("%H:%M")
            .row
                .col-12 
                    %h5.font-weight-light.d-flex
                        - if @owner == current_user
                            %a{href: "/workout/view?id=#{@workout.id}", type: "button", class: "text-#{@workout.group_colour}"}
                                = @workout.title
                            %a.btn.p-0.px-2{href: "/workout/edit?id=#{@workout.id}", type: "button"}
                                %i.fa-solid.fa-pencil.text-dark
                        - else
                            %a{href: "/workout/view?id=#{@workout.id}", type: "button", class: "text-#{@workout.group_colour}"}
                                = @workout.title
            .row
                .col-4
                    .font-weight-light.text-muted Exercises
                    %h5.lead
                        = @workout.exercises_used

                .col-3
                    .font-weight-light.text-muted Sets 
                    %h5.lead
                        = @workout.sets_completed

                // Only display length if it's longer than 10 minutes
                // This helps to prevent clutter  
                - if (@workout.ended_at - @workout.started_at) > 10.minutes
                    .col-5
                        .font-weight-light.text-muted
                            Length 
                        %h5.lead
                            = @workout.length_string

            .row.border-top.align-items-center.float-center.pt-2.pb-2
                - count = @workout.likes_count
                - if Like.where(user_id: current_user.id, workout_id: @workout.id).count > 0
                    %a{href: likes_create_path(workout_id: @workout.id, back: "#{@location}"), class: "btn btn-danger btn-sm ml-2 mr-2"}
                        %i.fa-solid.fa-heart.text-white
                        %strong
                            = count
                - else
                    %a{href: likes_create_path(workout_id: @workout.id, back: "#{@location}"), class: "btn btn-outline-danger btn-sm ml-2 mr-2"}
                        %i.fa-solid.fa-heart.text-danger
                        %strong
                            = count
                - liked_by = @workout.liked_by
                .text-muted 
                    - if count == 0
                        = str = "No one has liked this workout yet."
                    - else
                        - str = ""
                        - liked_by.each do |name|
                            - if name == liked_by.first
                                - str += name
                            - else
                                - str +=  ", #{name}"
                        Liked by #{str}