.container
    %h1.text-center.mt-3
        My Feed
    %nav{"aria-label" => "Page navigation for feed"}
        %ul.pagination.justify-content-center
            - if params[:tab] < 30
                %li.page-item.disabled
                    %a.page-link{href: "#", tabindex: "-1"} Previous
            - else
                %li.page-item
                    %a.page-link{href: "?from=#{params[:from].to_i - 30}"} Previous

            - for i in (1..(@max / 30) + 1)
                - if params[:tab] == (i - 1) * 30
                    %li.page-item.active
                        %a.page-link{href: "?tab=#{(i - 1) * 30}"} #{i}
                - else
                    %li.page-item
                        %a.page-link{href: "?tab=#{(i - 1) * 30}"} #{i}

            - if params[:tab] >= @max - 30
                %li.page-item.disabled
                    %a.page-link{href: "#", tabindex: "-1"} Next
            - else
                %li.page-item
                    %a.page-link{href: "/feed?tab=#{params[:tab] + 30}"} Next
    .text-center.mb-3
        - if params[:filter] == "you"
            %a.btn.btn-outline-primary.btn-sm{href: "/feed"} You + Friends
            %a.btn.btn-primary.btn-sm{href: "/feed?filter=you"} You
        - else
            %a.btn.btn-primary.btn-sm{href: "/feed"} You + Friends
            %a.btn.btn-outline-primary.btn-sm{href: "/feed?filter=you"} You
- @hide_header = false
= render 'feed/feed'