.container.container-md.border.bg-white.py-2
    .card.border-top-0.border-bottom-0.justify-content-center.d-flex
        .row
            .col-12.bg-white.p-2
                %h1.text-center
                    My Feed

                .text-center.mb-3
                    - if params[:filter] == "you"
                        %a.btn.btn-outline-primary.btn-sm{href: "/feed"} You + Friends
                        %a.btn.btn-primary.btn-sm{href: "/feed?filter=you"} You
                    - else
                        %a.btn.btn-primary.btn-sm{href: "/feed"} You + Friends
                        %a.btn.btn-outline-primary.btn-sm{href: "/feed?filter=you"} You

                %nav{"aria-label" => "Page navigation for feed"}
                    %ul.pagination.justify-content-center
                        - if params[:tab] < 10
                            %li.page-item.disabled
                                %a.page-link{href: "#", tabindex: "-1"} <<
                        - else
                            %li.page-item.active
                                %a.page-link{href: "?from=#{params[:from].to_i - 10}#{params[:filter] ? "&filter=#{params[:filter]}" : ""}"} <<

                        %li.page-item
                            %a.page-link Page #{params[:tab] / 10 + 1}
                            

                        - if params[:tab] >= @max - 10
                            %li.page-item.disabled
                                %a.page-link{href: "#", tabindex: "-1"} >>
                        - else
                            %li.page-item.active
                                %a.page-link{href: "/feed?tab=#{params[:tab] + 10}#{params[:filter] ? "&filter=#{params[:filter]}" : ""}"} >>
                
                - @hide_header = false
                = render 'feed/feed'

                %nav.mt-3{"aria-label" => "Page navigation for feed"}
                    %ul.pagination.justify-content-center
                        - if params[:tab] < 10
                            %li.page-item.disabled
                                %a.page-link{href: "#", tabindex: "-1"} <<
                        - else
                            %li.page-item.active
                                %a.page-link{href: "?from=#{params[:from].to_i - 10}#{params[:filter] ? "&filter=#{params[:filter]}" : ""}"} <<

                        %li.page-item
                            %a.page-link Page #{params[:tab] / 10 + 1}
                            

                        - if params[:tab] >= @max - 10
                            %li.page-item.disabled
                                %a.page-link{href: "#", tabindex: "-1"} >>
                        - else
                            %li.page-item.active
                                %a.page-link{href: "/feed?tab=#{params[:tab] + 10}#{params[:filter] ? "&filter=#{params[:filter]}" : ""}"} >>