.container
    %h1.text-center
        My Feed
    %hr
    
    .text-center
        - if params[:filter] == "you"
            %a.btn.btn-outline-primary.btn-sm{href: "/feed"} You + Friends
            %a.btn.btn-primary.btn-sm{href: "/feed?filter=you"} You
        - else
            %a.btn.btn-primary.btn-sm{href: "/feed"} You + Friends
            %a.btn.btn-outline-primary.btn-sm{href: "/feed?filter=you"} You
    - prevDate = nil
    - if @feed.length == 0
        .text-muted.text-center
            No workouts logged yet
    
    - @feed.each do |day|
        %h4
            %strong
                - if current_user == day[1]
                    %a.badge.badge-warning.badge-pill{href: "/users/view?id=#{day[1].id}"}
                        = "You"
                - else
                    %a.badge.badge-secondary.badge-pill{href: "/users/view?id=#{day[1].id}"}
                        = day[1].first_name + " " + day[1].last_name # "@" + day[1].username
                
                - if day[3].first == "Chest"
                    %a.badge.badge-primary.text-white
                        - day[3].each do |ex|
                            - if ex == day[3].last
                                = ex
                            - else
                                = ex + " & "
                - elsif day[3].first == "Back"
                    %a.badge.badge-danger.text-white
                        - day[3].each do |ex|
                            - if ex == day[3].last
                                = ex
                            - else
                                = ex + " & "
                - elsif day[3].first == "Legs"
                    %a.badge.badge-success.text-white
                        - day[3].each do |ex|
                            - if ex == day[3].last
                                = ex
                            - else
                                = ex + " & "
                - else
                    %a.badge.badge-info.text-white
                        - day[3].each do |ex|
                            - if ex == day[3].last
                                = ex
                            - else
                                = ex + " & "
            
        %h6.text-muted
            = day[0].strftime("%B %d, %Y") + " @ "
            // 24 hour time
            = day[0].strftime("%H:%M")
        .row
            %table
                - day[2].each do |workout|
                    - if workout[1].any?
                        %ti.col-lg-3.col-md-6.col-xs-12
                            %strong
                                = workout[0].name

                            - workout[1].each do |set|
                                - if set.weight != nil && set.repetitions != nil
                                    - if set.weight == 0
                                        - msg = 'BW ' + workout[0].unit.to_s + ' x ' + set.repetitions.to_s
                                    - else
                                        - msg = set.weight.to_s + ' ' + workout[0].unit.to_s + ' x ' + set.repetitions.to_s
                                        
                                    %br

                                    - if set.isFailure
                                        %span.text-danger.border-bottom.border-danger
                                            = msg
                                    - elsif set.isDropset
                                        %span.text-info.border-bottom.border-info
                                            = msg
                                    - else
                                        %span.text-muted
                                            = msg
                                            

                                    

                    
        %hr
            
