%h1.text-center My Feed
.container
    - prevDate = nil
    - @feed.each do |day|
        %h4
            %strong
                - if current_user == day[1]
                    .badge.badge-warning.badge-pill
                        = "You"
                - else
                    .badge.badge-secondary.badge-pill
                        = day[1].first_name + " " + day[1].last_name # "@" + day[1].username
            
        %h6.text-muted
            = day[0].strftime("%B %d, %Y") + " @ "
            // 12 hour time format with lower case am/pm
            = day[0].strftime("%I:%M%p").downcase
        .row
            - day[2].each do |workout|
                - if workout[1].any?
                    .column.m-1.p-2
                        %strong
                            = workout[0].name
                        - workout[1].each do |set|
                            - if set.weight != nil && set.repetitions != nil
                                %li
                                    - if set.weight == 0
                                        = 'BW ' + workout[0].unit.to_s + ' x ' + set.repetitions.to_s
                                    - else
                                        = set.weight.to_s + ' ' + workout[0].unit.to_s + ' x ' + set.repetitions.to_s
                            - else
                                %li.text-muted
                                    [invalid set]
                                    

                    
        %hr
            
