.container.justify-content-center.d-flex.mt-3
    .col-12.text-center.py-2.mb-2
        %h1
            Welcome back 
            %strong
                = "#{current_user.first_name}!"
        .text-center
            %a.text-primary{href: "/friend/list"}
                = current_user.followers.count.to_s + ' followers | ' + current_user.following.count.to_s + ' following' 
        .text-muted.mb-2
            = current_user.feed.count.to_s + ' workouts logged in total'
        %a.btn.btn-primary{href: "/exercises"} Log a Workout
.container.container-md.border.bg-white.py-2
    .card.border-top-0.border-bottom-0.justify-content-center.d-flex
        .row
            .col-12.col-md-4.bg-white.text-center.py-2
                - if current_user.streak_status == "none"
                    %h6.label.py-2.bg-danger.border.px-2.text-dark.font-weight-light
                        %b Uh oh!
                        = current_user.streak_msg_own

                - elsif current_user.streak_status == "pending" || current_user.streak_status == "at_risk"
                    %h6.label.py-2.label-warning.border.px-2.bg-warning.font-weight-light
                        %b Keep it going!
                        = current_user.streak_msg_own

                - else
                    %h6.label.py-2.bg-success.border.px-2.text-dark.font-weight-light
                        %b Great Job!
                        = current_user.streak_msg_own

                .row.mb-1.text-center.align-middle.pt-3
                    .col-3
                        %a.btn.btn-sm.btn-outline-primary{href: "dashboard?month=#{@month - 1}"}
                            %strong ◀
                    .col-6
                        %h4.text-center
                            %strong.float-center.align-middle
                                = "#{@month_name} #{Date.today.year}"
                    .col-3
                        %a.btn.btn-sm.btn-outline-primary{href: "dashboard?month=#{@month + 1}"}
                            %strong ▶
            
                
                %table.table.table-sm.table-borderless.table-hover
                    %thead.bg-dark.text-light.p-0.m-0
                        %tr.m-0.p-0
                            %th.m-0.p-0.ml-0
                                M
                            %th.m-0.p-0
                                T
                            %th.m-0.p-0
                                W
                            %th.m-0.p-0
                                T
                            %th.m-0.p-0
                                F
                            %th.m-0.p-0
                                S
                            %th.m-0.p-0
                                S
                    // Get the first day of @month this year
                    - @firstDay = Date.new(Date.today.year, @month, 1).strftime("%u").to_i
                    // Get number of days in current month
                    - @daysInMonth = Date.new(Date.today.year, @month, -1).day
                    - rowCount = 0
                    %tbody
                        %tr
                        - (1..@firstDay - 1).each do
                            %td.bg-light
                            - rowCount += 1
                        - (1..@daysInMonth).each do |dayCount|
                            - rowCount += 1
                            - dateFound = false
                            - dateThatWasFound = ""
                            - if rowCount % 7 == 1
                                %tr
                            
                            - @dates.each do |date|
                                - if dayCount == date.day && date.strftime("%B") == Date.new(Date.today.year, @month, -1).strftime("%B")
                                    - dateFound = true
                                    - dateThatWasFound = date.strftime("%B%d%y") + current_user.id.to_s
                            - if dateFound
                                %td.bg-success.border.font-decoration-none
                                    %a{href: "#workout-#{dateThatWasFound }"}
                                        = dayCount
                            - elsif dayCount == Date.today.day && Date.today.strftime("%B") == Date.new(Date.today.year, @month, -1).strftime("%B")
                                %td.bg-warning.border.border-warning
                                    = dayCount
                            - elsif dayCount < Date.today.day && Date.today.month == @month || Date.today.month > @month
                                %td.bg-secondary.border
                                    = dayCount
                            - else
                                %td.border.bg-light
                                    = dayCount
            
                
                

                
            .col-12.col-md-8.bg-white.p-2
                %h4.text-center.font-weight-light.mb-3
                    %strong
                        Your Feed
                - @hide_header = true
                = render 'feed/feed'
                %br
                .d-flex
                    = link_to "View More on Feed", "/feed", {class: "btn btn-info btn w-100"}
                    = link_to "Add a Friend", "/friend/list", {class: "btn btn-primary btn w-50 ml-1"}
        