.container.justify-content-center.d-flex.mt-3
    .col-12.text-center.py-2.mb-2
        %h1
            Welcome back 
            %strong
                = "#{current_user.first_name}!"
        .text-center
            %a.text-primary{href: "/friend/list"}
                = current_user.followers.count.to_s + ' followers | ' + current_user.following.count.to_s + ' following' 
        .text-muted.mb-2
            = current_user.feed.count.to_s + ' workouts logged in total'
        %a.btn.btn-primary{hidden: true, href: "/exercises"} Log a Workout
.container.container-md.border.bg-white.py-2
    .card.border-top-0.border-bottom-0.justify-content-center.d-flex
        .row
            .col-12.col-md-4.bg-white.p-2.text-center
                = render 'workout/summary'
                %hr
                
                
                .row.mb-1.text-center.align-middle.pt-3
                    .col-3
                        %a.btn.btn-sm.btn-outline-primary{href: "dashboard?month=#{@month - 1}"}
                            %strong ◀
                    .col-6
                        %h4.text-center.font-weight-light.mb-3
                            %strong
                                = "#{@month_name} #{Date.today.year}"
                    .col-3
                        %a.btn.btn-sm.btn-outline-primary{href: "dashboard?month=#{@month + 1}"}
                            %strong ▶
            
                
                %table.table.table-sm.table-borderless.table-hover
                    %thead.bg-dark.text-light.p-0.m-0
                        %tr.m-0.p-0
                            %th.m-0.p-0.ml-0
                                M
                            %th.m-0.p-0
                                T
                            %th.m-0.p-0
                                W
                            %th.m-0.p-0
                                T
                            %th.m-0.p-0
                                F
                            %th.m-0.p-0
                                S
                            %th.m-0.p-0
                                S
                    // Get the first day of @month this year
                    - @firstDay = Date.new(Date.today.year, @month, 1).strftime("%u").to_i
                    // Get number of days in current month
                    - @daysInMonth = Date.new(Date.today.year, @month, -1).day
                    - rowCount = 0
                    %tbody
                        %tr
                        - (1..@firstDay - 1).each do
                            %td.bg-light
                            - rowCount += 1
                        - (1..@daysInMonth).each do |dayCount|
                            - rowCount += 1
                            - dateFound = false
                            - dateThatWasFound = ""
                            - if rowCount % 7 == 1
                                %tr
                            
                            - @dates.each do |date|
                                - if dayCount == date.day && date.strftime("%B") == Date.new(Date.today.year, @month, -1).strftime("%B")
                                    - dateFound = true
                                    - dateThatWasFound = date.strftime("%B%d%y") + current_user.id.to_s
                            - if dateFound
                                %td.bg-success.border.font-decoration-none
                                    %a{href: "#workout-#{dateThatWasFound }"}
                                        = dayCount
                            - elsif dayCount == Date.today.day && Date.today.strftime("%B") == Date.new(Date.today.year, @month, -1).strftime("%B")
                                %td.bg-warning.border.border-warning
                                    = dayCount
                            - elsif dayCount < Date.today.day && Date.today.month == @month || Date.today.month > @month
                                %td.bg-secondary.border
                                    = dayCount
                            - else
                                %td.border.bg-light
                                    = dayCount
                %span
                    - if current_user.streak_status == "none"
                        .label.py-2.bg-danger.border.rounded.px-1.text-dark.font-weight-light
                            %b Uh oh!
                            = current_user.streak_msg_own

                    - elsif current_user.streak_status == "pending" || current_user.streak_status == "at_risk"
                        .label.py-2.label-warning.border.rounded.px-1.bg-warning.font-weight-light
                            %b Keep it going!
                            = current_user.streak_msg_own

                    - else
                        .label.py-2.bg-success.border.rounded.px-1.text-dark.font-weight-light
                            %b Great Job!
                            = current_user.streak_msg_own
                    %hr
                

                
            
            .col-12.col-md-8.bg-white.p-2
                - if @feed != []
                    %h4.text-center.font-weight-light.mb-3
                        %strong
                            Recent Workouts
                    - @hide_header = false
                    = render 'feed/feed'
                    .d-flex
                        = link_to "View More on Feed", "/feed", {class: "btn btn-info btn-lg w-100"}
                        = link_to "Add a Friend", "/friend/list", {class: "btn btn-primary btn-lg w-50 ml-1"}
                - else
                    %h4.text-center.font-weight-light.mb-3
                        %strong
                            Getting Started
                    %h5 Welcome to your Dashboard!
                    .py-3
                        To add your first workout follow these steps:
                        %br
                        %br
                        %strong 1)
                        Head to the 
                        %a{href: "/exercises"} exercises page
                        and press the 'Add New' button at the top.
                        %br
                        %strong 2)
                        Fill in the form and start logging your sets, this will automatically fill in your workout for the day here on your dashboard.
                        %br
                        %strong 3)
                        Add some more exercises and continue, you can check a summary of your workout and other information such as the duration here on this page.
                        %br
                        %strong 4)
                        Once done, hit the 'finish workout' button on this page and you're done!
                        %br
                        %br
                        %strong Tip:
                        Don't worry if you forget to end your workout! Inactive workouts will automatically be ended after an hour of inactivity.
                        %hr
                        If you'd like to see what other people are doing, head to the

                        %a{href: "/friend/list"} friend list page,
                        follow some users and watch their workouts appear here!
                        
        