<%= erb :"common/nav" %>
<link rel="stylesheet" href="../styles/style.css">
<script>
    var lastRepCount = ""
    var lastWeightCount = ""
</script>
<body>
    <main>
        <div id="spacer">
            <h1>Edit Exercise</h1>
            <form action="/edit-exercise?id=<%=@exid%>" method="post">
                            <a>Name</a>
                            <input type="text" id="Name" name="Name" value="<%= @exercise[:Name] %>" required>
                            <br>
                            <a>Unit</a>
                            <input type="text" id="Unit" name="Unit" value="<%= @exercise[:Unit] %>" required>
                            <br>
                            <a>Group Name <i>(default=none)</i></a>
                            <input type="text" id="GroupName" name="GroupName" value="<%= @exercise[:GroupName] %>" required>
                            <br><br>
                            <input type="submit" class="button" value="Submit Changes">
            </form>
            <br><br>
            <a style="color: red" href="delete-exercise?id=<%=@exid%>">Delete this Exercise</a>
        </div>
        <br><br><br><br><br><br>
    </main>
</body>

<%= erb :"common/footer" %>

</html>

