<%= erb :"common/nav" %>
<link rel="stylesheet" href="../styles/style.css">
<script>
    var lastRepCount = ""
    var lastWeightCount = ""
</script>
<body>
    <main>
        <div id="spacer">
            <h1><%= @workoutName %></h1>
            <p>Filter by: <a href="/workouts/exercise?id=<%=@id%>&filter=today">Today</a> - <a href="/workouts/exercise?id=<%=@id%>&filter=all">All</a></p>
            <table>
                    <tr>
                        <th>Reps</th>
                        <th>Weight</th>
                        <th>Time</th>
                        <th>Date</th>
                    </tr>
                    <% @target.each do |workout| %>
                    <tr>
                      <td><%= workout[:Reps] %></td>
                      <td><%= workout[:Weight].to_s %></td>
                      <td><%= workout[:Time] %></td>
                      <td><%= workout[:Date] %></td>
                      <td><button class="editButton" style="border-radius: 0.5em"><a style="text-decoration: none" href="/edit-set?id=<%=workout[:SetID]%>">&#x270E</a></button></td>
                    </tr>
                    <script>
                        lastRepCount = "<%=workout[:Reps]%>"
                        lastWeightCount = "<%=workout[:Weight]%>"
                    </script>
                    <%end%>
            </table>
            <br>
            <p>Add New Set</p>
            <table>
                    <tr id="editRow">
                        <form action="/workouts/exercise?id=<%=@id%>&filter=<%=@filter_type.downcase%>" method="post">
                            <td><input type="number" id="reps" name="Reps" required></td>
                            <td><input type="number" step="0.1" id="weight" name="Weight" required></td>
                            <td id="clock2"><%=Time.now.strftime("%H:%M:%S")%></td>
                            <td><%=Time.now.strftime("%d/%m/%Y")%></td>
                            <td id="buttonTD"><input type="submit" id="inputButton" class="button" value="Add"></td>
                        </form>
                    </tr>
            </table>
        </div>
        <br><br><br><br><br><br>
    </main>
</body>

<%= erb :"common/footer" %>
<script type="text/javascript" src="../scripts/exercise.js"></script>

</html>

