<%= erb :"common/nav" %>

<body>
    <main>
        <div id="spacer">
        <br>
        <a class="button" id="backButton" href="/summary">View Today's Summary</a>
        <br><br>

            <h1>All Exercises</h1>

            <form action="/workouts" method="get">
            <p>Filter by: 
            <select id="filterChoice" name="filter">
            <option value="All">All</option>
            <%
            list = getAllGroupNames(session[:UserID])
            list.each do |name|
                if name == "none"
                    next
                end
                if name == @filter_type
                    next
                end
            %>
            <option value="<%= name %>"><%= name %></option>

            <%end%>
            </select>
            <button>Reset</button>
            </form>

            </p>

            <table class="profile">
                    <tr>
                        <th>Exercise Name</th>
                        <th>Options</th>
                    </tr>
                    <% @target.each do |exercise| %>
                    <tr>
                      <td><%= exercise[:Name] %></td>
                      <td><button class="button"><a href="/workouts/exercise?id=<%= exercise[:ExID]%>">View</a></button></td>
                      <td><button class="editButton" style="border-radius: 0.5em"><a style="text-decoration: none" href="/edit-exercise?id=<%= exercise[:ExID]%>">&#x270E</a></button></td>
                    </tr>
                    <%end%>
                    <tr>
                        <form action="/workouts" method="post">
                            <td><input type="text" name="Name" required></td>
                            <td><input type="submit" class="button" value="New Exercise"></td>
                        </form>
                    </tr>
                </table>
        </div>
    </main>
</body>
<script type="text/javascript" src="../scripts/filterCheck.js"></script>
<%= erb :"common/footer" %>

</html>

