.container.text-center.mb-3.mt-3
    %h5
        %strong
        - if current_user.id != @user.id && @is_friend == false && @pending == false
            %a.btn.btn-primary.btn-sm{href: "/friend/add?id=" + @user.id.to_s}
                Follow
        - elsif current_user.id != @user.id && @is_friend == false && @pending == true
            %a.btn.btn-warning.btn-sm{href: "/friend/remove?id=" + @user.id.to_s}
                Request Pending
        - elsif current_user.id != @user.id && @is_friend == true
            %a.btn.btn-danger.btn-sm{href: "/friend/remove?id=" + @user.id.to_s}
                Unfollow
        - elsif current_user.id == @user.id
            = link_to edit_user_registration_path, class: "btn btn-primary btn-sm" do
                %i.fa-solid.fa-pencil
                Edit Profile
        %h1
            %strong
                = @user.first_name + ' ' + @user.last_name + "'s"
            Profile

    // Friends vs following
    - number_of_followers = Friend.where(user: @user.id, confirmed: true).count.to_s
    - number_of_following = Friend.where(follows: @user.id, confirmed: true).count.to_s
    %a.text-primary{href: "/friend/list"}
        = number_of_following + ' followers | ' + number_of_followers + ' following' 
    
    %br
    .text-muted
        = @user.workout_count.to_s + ' workouts logged in total'

- if @user.is_public != false || current_user == @user || @is_friend
    .container.container-md.border.bg-white.py-2
        .card.border-top-0.border-bottom-0.justify-content-center.d-flex
            .row
                .col-12.col-md-4.bg-white.text-center.py-2
                    - if current_user.streak_status == "none"
                        %h6.label.py-2.bg-danger.border.px-2.text-dark.font-weight-light
                            = @user.streak_msg_other

                    - elsif current_user.streak_status == "pending" || current_user.streak_status == "at_risk"
                        %h6.label.py-2.label-warning.border.px-2.bg-warning.font-weight-light
                            = @user.streak_msg_other

                    - else
                        %h6.label.py-2.bg-success.border.px-2.text-dark.font-weight-light
                            = @user.streak_msg_other
                    
                    = render 'feed/calendar'
                    %hr
                    

                    
                .col-12.col-md-8.bg-white.p-2
                    - @hide_header = true
                    = render 'feed/feed'
                    = link_to "View More on Feed", "/feed", {class: "btn btn-info btn-lg w-100"}
- else
    .text-muted.text-center
        [The following user has a private profile, so you must be friends to view their profile.]