.container.text-center.mb-3.mt-3
    %h5
        %strong
        - if current_user.id != @user.id && @is_friend == false && @pending == false
            %a.btn.btn-primary.btn-sm{href: "/friend/add?id=" + @user.id.to_s}
                Follow
        - elsif current_user.id != @user.id && @is_friend == false && @pending == true
            %a.btn.btn-warning.btn-sm{href: "/friend/remove?id=" + @user.id.to_s}
                Request Pending
        - elsif current_user.id != @user.id && @is_friend == true
            %a.btn.btn-danger.btn-sm{href: "/friend/remove?id=" + @user.id.to_s}
                Unfollow
        %h1
            %strong
                = @user.first_name + ' ' + @user.last_name + "'s"
            Profile

    // Friends vs following
    - number_of_followers = Friend.where(user: @user.id, confirmed: true).count.to_s
    - number_of_following = Friend.where(follows: @user.id, confirmed: true).count.to_s
    %a.text-primary{href: "/friend/list"}
        = number_of_following + ' followers | ' + number_of_followers + ' following' 
    // Get all dates from workouts and count unique dates
    - @sets = Workout.where(user_id: @user.id)
    - @dates = []
    - @sets.each do |workout|
        - @dates.push(workout.created_at.to_date)
    - @dates = @dates.uniq
    %br
    .text-muted
        = @dates.length.to_s + ' workouts logged in total'

- if @user.isPublic != false || current_user == @user || @is_friend
    .container.container-md.border.bg-white.py-2
        .card.border-top-0.border-bottom-0.justify-content-center.d-flex
            .row
                .col-12.col-md-4.bg-white.text-center.py-2
                    - if current_user.streak_status == "none"
                        %h6.label.py-2.text-danger.border.border-danger.px-2
                            %b Uh oh!
                            = current_user.streak_msg_own

                    - elsif current_user.streak_status == "pending"
                        %h6.label.py-2.text-warning.border.border-warning.px-2
                            %b Keep it going!
                            = current_user.streak_msg_own

                    - else
                        %h6.label.py-2.text-success.border.border-success.px-2
                            %b Great Job!
                            = current_user.streak_msg_own

                    .row.mb-1.text-center.align-middle.pt-2
                        .col-3
                            %a.btn.btn-sm.btn-outline-primary{href: "dashboard?month=#{@month - 1}"}
                                %strong ◀
                        .col-6
                            %h4.text-center
                                %strong.float-center.align-middle
                                    = "#{@month_name} #{Date.today.year}"
                        .col-3
                            %a.btn.btn-sm.btn-outline-primary{href: "dashboard?month=#{@month + 1}"}
                                %strong ▶
                
                    
                    %table.table.table-sm.table-borderless.table-hover
                        %thead.bg-dark.text-light.p-0.m-0
                            %tr.m-0.p-0
                                %th.m-0.p-0.ml-0
                                    M
                                %th.m-0.p-0
                                    T
                                %th.m-0.p-0
                                    W
                                %th.m-0.p-0
                                    T
                                %th.m-0.p-0
                                    F
                                %th.m-0.p-0
                                    S
                                %th.m-0.p-0
                                    S
                        // Get the first day of @month this year
                        - @firstDay = Date.new(Date.today.year, @month, 1).strftime("%u").to_i
                        // Get number of days in current month
                        - @daysInMonth = Date.new(Date.today.year, @month, -1).day
                        - rowCount = 0
                        %tbody
                            %tr
                            - (1..@firstDay - 1).each do
                                %td.bg-light
                                - rowCount += 1
                            - (1..@daysInMonth).each do |dayCount|
                                - rowCount += 1
                                - dateFound = false
                                - if rowCount % 7 == 1
                                    %tr
                                
                                - @dates.each do |date|
                                    - if dayCount == date.day && date.strftime("%B") == Date.new(Date.today.year, @month, -1).strftime("%B")
                                        - dateFound = true
                                - if dateFound
                                    %td.bg-success.border
                                        = dayCount
                                - elsif dayCount == Date.today.day && Date.today.strftime("%B") == Date.new(Date.today.year, @month, -1).strftime("%B")
                                    %td.bg-warning.border.border-warning
                                        = dayCount
                                - elsif dayCount < Date.today.day && Date.today.month == @month || Date.today.month > @month
                                    %td.bg-secondary.border
                                        = dayCount
                                - else
                                    %td.border.bg-light
                                        = dayCount
                    %hr
                    

                    
                .col-12.col-md-8.bg-white.p-2
                    - @hide_header = true
                    = render 'feed/feed'
- else
    .text-muted
        [The following user has a private profile, so you must be friends to view their profile.]