.card-body.justify-content-center.d-flex
  = form_with model: @exercise, url: "/exercise/create", method: :post, local: true do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.text_field :name, placeholder: "Exercise Name", class: "form-control"
    = f.select :unit, ["kg", "lbs", "kg/db", "lbs/db"], { prompt: "Select Unit" }, class: "form-control"
    = f.select :group, ["Chest", "Back", "Legs", "Shoulders", "Biceps", "Triceps", "Core"], { prompt: "Select Muscle Group" }, class: "form-control"
    = f.submit "Create", class: "btn btn-primary w-100"
