.container.text-center
    .text-right
        = link_to 'Add New', "/exercise/new", {class: "btn btn-sm btn-outline-primary"}
    %h1 All Exercises
    %hr
        - if @exercises.empty?
            %p No exercises have been created yet.
        - else
            %span.m-2
                %a.btn.btn-primary.btn-sm{href: "/"} All
                - @groups.each do |group|
                    - if group == "Chest"
                        %a.btn.btn-outline-primary.btn-sm{href: "/exercise?group=#{group}"}= group
                    - elsif group == "Back"
                        %a.btn.btn-outline-danger.btn-sm{href: "/exercise?group=#{group}"}= group
                    - elsif group == "Legs"
                        %a.btn.btn-outline-success.btn-sm{href: "/exercise?group=#{group}"}= group
                    - else
                        %a.btn.btn-outline-info.btn-sm{href: "/exercise?group=#{group}"}= group
            %table.table.table-sm.mt-3{width: "auto"}
                %thead
                    %tr
                        %th Name
                        %th.text-muted Options
                %tbody
                    - @exercises.each do |exercise|
                        %tr
                            %td
                                %h6
                                    %a.btn.btn-oultine-secondary{href: "/workout/"+exercise.id.to_s}
                                        = exercise.name
                            
                                    - if exercise.group == "Chest"
                                        %span.badge.badge-primary.text-white
                                            = exercise.group
                                    - elsif exercise.group == "Back"
                                        %span.badge.badge-danger.text-white
                                            = exercise.group
                                    - elsif exercise.group == "Legs"
                                        %span.badge.badge-success.text-white
                                            = exercise.group
                                    - else
                                        %span.badge.badge-info.text-white
                                            = exercise.group
                            %td.align-middle
                                - link_to '', "/workout/"+exercise.id.to_s, {class: "fa-solid fa-eye btn btn-sm btn-primary"}
                                = link_to '', "/exercise/edit?id=#{exercise.id.to_s}", {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary"}
                                // delete link
                                = link_to '', "/exercise/destroy?id=#{exercise.id.to_s}", data: { confirm: 'Are you sure?' }, class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger"
                                    
