.container.text-center
    .text-right
        = link_to 'Create Exercise', "/exercise/create", {class: "btn btn-sm btn-outline-primary"}
    %h1 All Exercises
    - if @exercises.empty?
        %p No exercises have been created yet.
    - else
        %table.table.table-hover
            %thead
                %tr
                    %th Name
                    %th Group
                    %th Options
                    %th
            %tbody
                - @exercises.each do |exercise|
                    %tr
                        %td.col-4
                            = exercise.name
                        %td.col-4
                            = exercise.group
                        %td.col-5
                            = link_to '', "/workout/show?id="+exercise.id.to_s, {class: "fa-solid fa-eye btn btn-sm btn-primary"}
                            = link_to '', "#", {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary"}
                            = link_to '', "/exercise/destroy?id="+exercise.id.to_s, class: " fa-solid fa-trash-can btn btn-sm btn-outline-danger", data: { confirm: "Are you sure?" }
                                
