.container.text-center
    .text-right
        = link_to 'Create Exercise', "/exercise/new", {class: "btn btn-outline-primary"}
    %h1 All Exercises
    %hr
    - if @exercises.empty?
        %p No exercises have been created yet.
    - else
        %table.table.table-hover
            %thead
                %tr
                    %th Name
                    %th Group
                    %th Options
                    %th
            %tbody
                - @exercises.each do |exercise|
                    %tr
                        %td.col-4
                            = exercise.name
                        %td.col-4
                            = exercise.group
                        %td.col-5
                            = link_to '', "/workout/"+exercise.id.to_s, {class: "fa-solid fa-eye btn btn-sm btn-primary"}
                            = link_to '', "/exercise/edit?id=#{exercise.id.to_s}", {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary"}
                            // delete link
                            = link_to '', "/exercise/destroy?id=#{exercise.id.to_s}", data: { confirm: 'Are you sure?' }, class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger"
                                
