.container.text-center
    .text-right.mb-1.mt-3
        = link_to 'Dashboard', "/dashboard", {class: "btn btn-secondary"}
        = link_to 'Add New', "/exercise/new", {class: "btn btn-outline-primary"}
    %h1.mt-1 All Exercises
                
    - if @exercises.empty?
        %p.bg-white.border.border-rounded.p-3.text-muted No exercises have been created yet. Use the "Add New" button to create your first exercise.
    - else
        %span.mb-3
            .mb-4
                %a.btn.btn-primary.btn-sm.mt-1{href: "/exercises"} All
                - @groups.each do |group|
                    - if group == "Chest"
                        %a.btn.btn-primary.btn-sm.mt-1{href: "/exercises?group=#{group}"}= group
                    - elsif group == "Back"
                        %a.btn.btn-danger.btn-sm.mt-1{href: "/exercises?group=#{group}"}= group
                    - elsif group == "Legs"
                        %a.btn.btn-success.btn-sm.mt-1{href: "/exercises?group=#{group}"}= group
                    - elsif group == "Shoulders"
                        %a.btn.btn-warning.btn-sm.mt-1.text-white{href: "/exercises?group=#{group}"}= group
                    - else
                        %a.btn.btn-info.btn-sm.mt-1{href: "/exercises?group=#{group}"}= group
        %table.table.table-sm.border.border-rounded.bg-white
            %thead.bg-dark.text-white
                %tr
                    %th Name
                    %th Options
            %tbody
                - @exercises.each do |exercise|
                    %tr
                        %td
                            %h6
                                %a.btn{href: "/workout/"+exercise.id.to_s}
                                    = exercise.name
                        
                                - if exercise.group == "Chest"
                                    %span.badge.badge-primary.text-white
                                        = exercise.group
                                - elsif exercise.group == "Back"
                                    %span.badge.badge-danger.text-white
                                        = exercise.group
                                - elsif exercise.group == "Legs"
                                    %span.badge.badge-success.text-white
                                        = exercise.group
                                - elsif exercise.group == "Shoulders"
                                    %span.badge.badge-warning.text-white
                                        = exercise.group
                                - else
                                    %span.badge.badge-info.text-white
                                        = exercise.group
                        %td.align-middle
                            = link_to '', "/exercise/view?id=#{exercise.id.to_s}", {class: "fa-solid fa-chart-line btn btn-sm btn-outline-success"}
                            - link_to '', "/workout/"+exercise.id.to_s, {class: "fa-solid fa-eye btn btn-sm btn-primary"}
                            = link_to '', "/exercise/edit?id=#{exercise.id.to_s}", {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary"}
                            // delete link
                            = link_to '', "/exercise/destroy?id=#{exercise.id.to_s}", data: { confirm: 'Are you sure?' }, class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger"
                                
