.container-fluid.text-center
    %h1.mt-3
        Your Friends
    .text-center.mb-3
        %a{href: "/users/find", class: "btn btn-primary w-100"} Add Users

    .container.bg-white.border.border-rounded.py-3
        - if @pending_followers.empty? == false
            Incoming:
            - @pending_followers.each do |p|
                .row.justify-content-center.d-flex.m-2
                    %a.col-md-3.col-sm-6.col-xs-6.border.text-primary.btn.btn-light{href: "/users/view?id=#{p.id}"}
                        .text-primary
                            = p.first_name + " " + p.last_name
                        .text-muted
                            = "@#{p.username}"
                    .m-2.align-self-center
                        = link_to "Accept?", "/friend/confirm?id=#{p.id}", data: { confirm: "Are you sure?" }, class: "align-self-center btn btn-sm btn-outline-success"
                        = link_to "", "/friend/remove?id=#{p.id}", data: { confirm: "Are you sure?" }, class: "align-self-center fa-solid fa-trash-can btn btn-lg btn-outline-danger"
        - if @pending_following.empty? == false
            Outgoing:
            - @pending_following.each do |p|
                .row.justify-content-center.d-flex.m-2
                    %a.col-md-3.col-sm-6.col-xs-6.border.text-primary.btn.btn-light{href: "/users/view?id=#{p.id}"}
                        .text-primary
                            = p.first_name + " " + p.last_name
        Following:
        - if @actual_following.empty?
            %p.text-muted
                You are not following anyone yet.
        - else
            .container.text-center
                - @actual_following.each do |friend|
                    .justify-content-center.d-flex.m-2
                        %a.border.text-primary.btn.btn-light.w-100{href: "/users/view?id=#{friend.id}"}
                            .d-flex
                                .text-primary
                                    = friend.first_name + " " + friend.last_name
                                - if friend.streak_count > 1
                                    %span
                                        .badge.badge-pill.badge-dark.px-2.font-weight-bold.ml-1
                                            🔥 #{friend.streak_count}
                                - if friend.midworkout
                                    %span
                                        .badge.badge-pill.badge-success.px-2.font-weight-light.ml-1
                                            Online
        %br
        Followers:
        - if @actual_followers.empty?
            %p.text-muted
                You have no followers yet.
        - else
            .container.text-center
                - @actual_followers.each do |friend|
                    .d-flex.mb-1.text-center
                        %a.border.text-primary.btn.btn-light.w-100{href: "/users/view?id=#{friend.id}"}
                            .d-flex
                                .text-primary
                                    = friend.first_name + " " + friend.last_name
                                - if friend.streak_count > 1
                                    %span
                                        .badge.badge-pill.badge-dark.px-2.font-weight-bold.ml-1
                                            🔥 #{friend.streak_count}
                                - if friend.midworkout
                                    %span
                                        .badge.badge-pill.badge-success.px-2.font-weight-light.ml-1
                                            Online
                        .align-self-center.ml-3
                            = link_to "", "/friend/remove_follower?id=#{friend.id}", data: { confirm: "Are you sure?" }, class: "align-self-center fa-solid fa-trash-can btn btn-lg btn-outline-danger"
