.container-fluid.text-center
    %h1.mt-3
        Friends
    .text-center.mb-3
        %a{href: "/users/find", class: "btn btn-primary w-50"} Add Users

    .container.bg-white.border.border-rounded.py-3
        %h2 Pending Followers
        - if @pending_followers.empty?
            %p.text-muted
                You have no pending follower requests.
        - else
            %ul
                - @pending_followers.each do |follower|
                    %li
                        = follower.name
                        = button_to "Accept", friend_accept_path(follower), method: :post, class: "btn btn-success"
                        = button_to "Reject", friend_reject_path(follower), method: :post, class: "btn btn-danger"

        %h2 Pending Following
        - if @pending_following.empty?
            %p.text-muted
                You have no pending following requests.
        - else
            %ul
                - @pending_following.each do |following|
                    %li
                        = following.name
                        = button_to "Cancel Request", friend_unfollow_path(following), method: :post, class: "btn btn-warning"

        %h2 Followers
        - if @followers.empty?
            %p.text-muted
                You have no followers yet.
        - else
            %ul
                - @followers.each do |follower|
                    %li
                        = follower.name
                        = button_to "Remove Follower", friend_remove_follower_path(follower), method: :post, class: "btn btn-danger"

        %h2 Following
        - if @following.empty?
            %p.text-muted
                You are not following anyone yet.
        - else
            %ul
                - @following.each do |following|
                    %li
                        = following.name
                        = button_to "Unfollow", friend_unfollow_path(following), method: :post, class: "btn btn-danger"
