.container 
    %h1 
        Your Friends
    .col
        - @friends.each do |friend|
            .row
                .col-md-4
                    %p
                        = friend.first_name
                        = friend.last_name
                        %strong Username:
                        = "@" + friend.username
                        // Remove friend button
                        = link_to "Remove Friend", "/friend/remove?id=#{friend.id}", data: { confirm: "Are you sure?" }, class: "btn btn-danger"
            %hr
    .text-center
        %a{href: "/users/explore", class: "btn btn-warning text-white w-25"} Explore Users