%h1.text-center
  Update Set
.card-body.justify-content-center.d-flex
  = form_with model: @workout, url: "/allset/update?id=#{@workout.id}", method: :patch, local: true do |f|
    = f.hidden_field :exercise_id
    = f.hidden_field :user_id
    = f.number_field :repetitions, class: "form-control", step: "1", min: "0", max: "100", placeholder: "Reps"
    = f.number_field :weight, class: "form-control", step: "0.25", min: "0", placeholder: "Weight"
    
    %h6.text-center.text-secondary.m-1
      = f.check_box :isFailure, class: "text-danger"
      Failure?
      = f.check_box :isDropset, class: "text-info bg-info"
      Dropset?
      = f.check_box :isWarmup, class: "text-secondary"
      Warmup?
    .d-flex
      = f.submit "Update", class: "btn btn-sm w-100 btn-primary"
      = link_to '', "/allset/destroy?id="+@workout.id.to_s, {class: "ml-1 fa-solid fa-trash-can btn btn-sm btn-danger"}
