.container
    .text-right.mb-1.mt-3.mb-2
        = link_to 'Dashboard', "/dashboard", {class: "btn btn-secondary"}
        = link_to 'Back', "/exercises", {class: "btn btn-outline-primary"}
    .container.text-center
        %h2.display-5
            = @exercise.name
        %h4
            = render 'exercise_group_badge', group: @exercise.group

    = render 'form'
    
    - if @sets.empty?
        %p.text-center.text-muted No sets have been logged yet.
    - else
        #rest-timer{"data-controller": "rest-timer"}
            - if @sets.first.created_at > Time.now.beginning_of_day
                #timer{"data-rest-timer-target": "timer", "data-start-time": @sets.first.created_at.iso8601}
            
            - @setss.each do |info|
                .text-muted
                    = format_date(info[0])
                %table.table.text-center.bg-white.table-sm.border
                    %tbody
                        - info[1].each do |set|
                            %tr{class: set_row_class(set)}
                                %td
                                    = format_set_weight(set)
                                    x
                                    = format_set_repetitions(set)
                                %td
                                    %small
                                        = link_to '', edit_allset_path(set), {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary bg-white"}
                                        = link_to '', "/allset/destroy?id="+set.id.to_s, {class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger bg-white"}
