.container
    .text-right
        = link_to 'Back', "/exercises", {class: "btn btn-sm btn-outline-primary"}
    .d-flex.justify-content-center.text-center
        %h1
            = @exercise.name
            .badge.badge-warning
                = @exercise.group

    = render 'form'
    
    - if @sets.empty?
        %p.text-center.text-muted No sets have been logged yet.
    - else
        // if @sets.first.created_at is within 1 hour of current time
        - if @sets.first.created_at > Time.now.beginning_of_day
            #restTimer{style: "display: none;"}
                = @sets.first.created_at.strftime("%H:%M:%S")
            
        %table.table.text-center
            %thead.bg-dark.text-white
                %tr
                    %th Reps
                    %th Weight
                    %th When
                    %th Options
            %tbody.bg-light
                - @sets.each do |set|
                    - if set.isDropset
                        %tr.text-info.border.border-info
                            %td.col-2.align-middle
                                %u
                                    - if set.repetitions == nil
                                        = "?"
                                    - else
                                        = set.repetitions
                            %td.col-3.align-middle
                                %u
                                    - if set.weight == 0
                                        = "BW"
                                    - elsif set.weight == nil
                                        = "?"
                                    - else
                                        = set.weight.to_s + " " + @exercise.unit
                            %td.col-3.align-middle
                                - if set.created_at > Time.now.beginning_of_day
                                    #target
                                        = set.created_at.strftime("%H:%M")
                                - elsif set.created_at > Time.now.beginning_of_day - 1.day
                                    = "Yesterday"
                                - elsif set.created_at > Time.now.beginning_of_day - 6.days
                                    = set.created_at.strftime("%A") + " " + set.created_at.strftime("%H:%M")
                                - else
                                    // Output date
                                    .text-muted.text-white
                                        = set.created_at.strftime("%d/%m/%Y")
                            %td.col-3
                                = link_to '', edit_workout_path(set), {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary bg-white"}
                                = link_to '', "/workout/destroy?id="+set.id.to_s, {class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger bg-white"}

                    - elsif set.isFailure
                        %tr.border.border-danger.text-danger
                            %td.col-2.align-middle
                                %u
                                    - if set.repetitions == nil
                                        = "?"
                                    - else
                                        = set.repetitions
                            %td.col-3.align-middle
                                %u
                                    - if set.weight == 0
                                        = "BW"
                                    - elsif set.weight == nil
                                        = "?"
                                    - else
                                        = set.weight.to_s + " " + @exercise.unit
                            %td.col-3.align-middle
                                - if set.created_at > Time.now.beginning_of_day
                                    #target
                                        = set.created_at.strftime("%H:%M")
                                - elsif set.created_at > Time.now.beginning_of_day - 1.day
                                    = "Yesterday"
                                - elsif set.created_at > Time.now.beginning_of_day - 6.days
                                    = set.created_at.strftime("%A") + " " + set.created_at.strftime("%H:%M")
                                - else
                                    // Output date
                                    .text-muted.text-white
                                        = set.created_at.strftime("%d/%m/%Y")
                            %td.col-3
                                = link_to '', edit_workout_path(set), {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary bg-white"}
                                = link_to '', "/workout/destroy?id="+set.id.to_s, {class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger bg-white"}

                    - else
                        %tr
                            %td.col-1.align-middle
                                - if set.repetitions == nil
                                    .text-muted
                                        = "?"
                                - else
                                    = set.repetitions
                            %td.col-4.align-middle
                                - if set.weight == 0
                                    = "BW"
                                - elsif set.weight == nil
                                    .text-muted
                                        = "?"
                                - else
                                    = set.weight.to_s + " " + @exercise.unit
                            %td.col-4.align-middle
                                - if set.created_at > Time.now.beginning_of_day
                                    .text-muted#target
                                        = set.created_at.strftime("%H:%M")
                                - elsif set.created_at > Time.now.beginning_of_day - 1.day
                                    .text-muted
                                        = "Yesterday"
                                - elsif set.created_at > Time.now.beginning_of_day - 6.days
                                    .text-muted
                                        = set.created_at.strftime("%A") + " " + set.created_at.strftime("%H:%M")
                                - else
                                    // Output date
                                    .text-muted
                                        = set.created_at.strftime("%d/%m/%Y")
                            %td.col-3.align-middle
                                = link_to '', edit_workout_path(set), {class: "fa-solid fa-pencil btn btn-sm btn-outline-primary"}
                                = link_to '', "/workout/destroy?id="+set.id.to_s, {class: "fa-solid fa-trash-can btn btn-sm btn-outline-danger"}

    
    
    %br
        
    :javascript
        var timer = document.getElementById("restTimer");
        var target = document.getElementById("target");
        // if restTimer exists
        function updateTimer() {
            if (timer) {
                // timer.innerText = "00:00";
                // console.log(timer.innerText);
                var time = timer.innerText.split(":");
                // convert into Date object
                var date = new Date();
                date.setHours(time[0]);
                date.setMinutes(time[1]);
                date.setSeconds(time[2]);
                
                // get current
                var now = new Date();
                // get difference
                var diff = now - date;
                // convert to mins:seconds
                var mins = Math.floor(diff / 60000);
                var secs = Math.floor((diff % 60000) / 1000);
                // console.log('Diff', mins, secs);
                if (mins < 10) {
                    if (secs < 10) {
                        secs = "0" + secs;
                    }
                    if (mins == 0) {
                        msg = secs + "s ago";
                    }
                    else {
                        msg = mins + "m " + secs + "s";
                    }
                    target.innerText = msg;
                } 
                else if (mins == 10 && secs == 0){
                    target.innerText = "10+";
                    timer.destroy();
                }
            }
        }
        updateTimer()
        setInterval(updateTimer, 500);
